<header class="main-header">
    <!-- Logo -->
    <a href="backend" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">{{siteName}}</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">{{siteName}}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ auth.user.email}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {%if auth.user %}
                <li><a href="/auth/profile">Profile</a></li>
                <li><a href="/auth/setting">Setting</a></li>
                <li class="divider"></li>
                <li><a href="/auth/logout">Logout</a></li>
                {% else %}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {% endif %}
              </ul>
            </li>
        </ul>
      </div>
    </nav>
  </header>